@import '../../styles/_templates'

.title
    @extend %title

.place-title
    font-size: 16px
    line-height: 20px
    color: #03a688
    margin-bottom: 5px

.subtitle
    @extend %subtitle
    margin-bottom: 20px

.faculty-title
    font-size: 16px
    font-weight: bold 

