@import '../../styles/_templates'

.container
    // padding: 0 0 5% 0
    font-size: 16px
    color: #595959 

      

.title
    @extend %title

.position-title
    font-size: 18px
    line-height: 20px
    color: #000000
    margin: 0

.subtitle
    @extend %subtitle

.descr
    margin-bottom: 30px    