@import './_variables'
%title
    font-weight: 700
    font-size: 2rem
    color: $dark-title-color
    margin-bottom: .8rem
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.5), -.1rem -.1rem .2rem rgba(255, 255, 255, 0.5)
    @media (max-width: 350px)
        padding-left: 1rem

%item
    list-style-type: none
    font-weight: light
    font-size: 1.6rem
    margin-bottom: .5rem
    padding-left: 2rem
    color: $main-green-color


%link
    text-decoration: none
    color: $grey-color
    line-height: 2.4rem
    background: linear-gradient(120deg,transparent 0%,transparent 50%,#03a688 50%)
    background-size: 220%
    transition: all 0.6s
    display: inline-block
    padding-right: 5rem
    cursor: pointer
    &:hover
        background-position: 100%
        transform: translateX(-0.7rem)
        color: $white-color


%subtitle
    font-size: 1.4rem
    line-height: 1.5rem
    color: $light-grey-color
    margin: 1.2rem 0 .8rem 0