@import '../../styles/_templates'
@import '../../styles/_variables'
@import '../../styles/_animation'

    
.container
    padding: 5% 0

.title
    @extend %title
    display: flex
    align-items: baseline

    @media (max-width: 1024px)
        font-size: 1.8rem
        flex-direction: column

.heading
    font-weight: 700
    font-size: 4.5rem
    color: $main-green-color
    margin: 0 0 2.8rem 0
    background-clip: text
    -webkit-background-clip: text
    color: transparent
    background-size: 200% 200%
    animation: moveBackground 10s linear infinite

    @media (max-width: 768px)
        font-size: 3.5rem

.main-descr
    display: flex
    flex-direction: column
    gap: .6rem
    font-size: 1.6rem
    line-height: 2.4rem
    color: $grey-color 

.animated
    display: inline-block
    width: 28ch
    font-family: "IBM Plex Mono", monospace
    white-space: nowrap
    border-right: .3rem solid
    padding-left: .7rem 
    overflow: hidden
    animation: typing 8s steps(30) infinite, blink .5s step-end infinite alternate
    
    @media (max-width: 1024px)
      padding-left: 0
    @media (max-width: 900px)
      animation: none
    @media (max-width: 500px) 
        animation: none
        border-right: none   


